<!DOCTYPE html>  
<html>
<head>
	<link rel="stylesheet" href="/styles/style.css">

	<title></title>
</head>
<body>
	<h1>Pokemon</h1>
		<ul>
			<div>
				<li><%=pokemon.name%></li>
				<li><img src="<%=pokemon.img%>"></li>
			</div>
		</ul>
</body>
</html>