<!DOCTYPE html>  
<html>
<head>
	<!-- link rel="stylesheet" href="/style/app.css" -->

	<title></title>
</head>
<body>
	<h1>Pokemon Objects</h1>
		<ul>
			<div>
				<li><%=pokemon.name%></li>
				<li><%=pokemon.img%></li>
			</div>
		</ul>
</body>
</html>